*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
  background : #0a192f ;
  font-family: Arial, Helvetica, sans-serif;
  
}
.profile-img
{
    width: 40%;
    float: right;
}
.profile-img img
{
    padding: 10px;
   margin-top: 5px;
    width: 80%;
    height: 80%;
    float: right;
}
.about
{
   margin-left: 15px;
   color: #54d4ba ; 
   padding: 100;  
}
.profile_info
{
    width: 60%;
    height: 100vh;
    float: left;
    padding: 0 30px;
    overflow: scroll;
    overflow-x: hidden;
}
.profile-info::-webkit-scrollbar
{
    width: 0px ;
}
.profile_info h1
{
    margin-top: 50px;
    margin-bottom: 30px;
}
.skills img
{
    height: 100px;
    margin-right: 15px; 
    padding: 20px;
}
.skills
{
    margin-top: 20px;
    margin-left: 15 px ;
}
.profile_info h2
{
    margin-top: 50px;
    margin-bottom: 15 px;
}
.expertise
{
    display: inline-block;
    width: 15%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow:0 0 15px 1px rgba(37, 73, 214, 0.18);
    background: #0a192f;
}
.expertise small
{
    padding-top: 10px;
    display: block;
}
.certificates img
{ 

     width: 30px;
     padding: 40px;
     margin-bottom: 5px;
     margin-left: 5px;
}
.form_box
{
     margin-top: 30px;
}
.input-group input
{
     width: 45%;
     border: 0;
     outline:none !important;
     padding: 10px;
     margin: 1%;
     display: inline-block;
     background: #ffffff;

}
.text-area textarea
{
    width: 95%;
    border: 0;
    outline:none !important;
     padding: 10px;
     margin: 1%;
     background: #ffffff;
}
.submit-btn
{
    border: 1% ;
    outline:none !important;
     padding: 10px 20px;
     margin: 1%;
     background: #0a192f;
     cursor: pointer;
     color: #54d4ba;
     border-color: #ffffff;
}
.contact img
{
    align-content: center;
    width: 50px;
    margin: 2%;
    
  
}
.logo
{
    text-align: center;
}
.copyright
{

    text-align: center;
    margin-bottom:20px ;
    padding: 100px;
    margin: 2%;
    color: #54d4ba;
}
/* @media only screen and (max-width:900px)
{
    .profile-info
    {
        width: 100%;
        overflow: inherit;
    }
    .profile-img
    {
        width: 100%;
    }
    .expertise
    {
        width: 95%;
        margin-bottom: 10%;
    }
    .expertise img
    {
        height: 8%;
        margin: 10px 0;
    }
    .certificates img{
        width: 47%;
 
    }
} */


  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
      right: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }
body{
      margin: 0;
      padding: 0;
      height: 100vh;
}
#particles-js
{
    height:30%;
    background:#0a172c;
    overflow: scroll;
    overflow-x: hidden;
}
#particles-js::-webkit-scrollbar
{
    width: 0px ;
}

span.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg); }
   10% { transform: rotate(-10.0deg); }
   20% { transform: rotate( 12.0deg); }
   30% { transform: rotate(-10.0deg); }
   40% { transform: rotate(  9.0deg); }
   50% { transform: rotate(  0.0deg); }
  100% { transform: rotate(  0.0deg); }
}
.home
{
  padding: 100px;
}
.aboutme{
  padding: 100px;
}
.projects img
{
  width: 30%;
  padding: 40px;
  margin-bottom:5px ;
  margin-left: 5px;
}
.form-box{
  padding-left: 100px;
}

@media only screen and (max-width:900px)
{
  .profile-info
    {
        width: 100%;
        overflow: inherit;
    }
    .profile-img
    {
      height: 8%;
      margin: 10px 0;
    }
    .expertise
    {
        width: 95%;
        margin-bottom: 10%;
    }
    .expertise img
    {
        height: 8%;
        margin: 10px 0;
    }
    .certificates img{
        width: 100%;
 
    }
    .form-box
    {
      width: 100%;
      overflow: inherit;
    }
    .home{
      width: 100%;
      overflow: inherit;
    }
    .aboutme{
      width: 100%;
      overflow: inherit;
    }

    .projects img
    {
      height: 8%;
      margin: 10px 0;
    }
    #particles-js
{
  width: 100%;
  overflow: inherit;
}

}